<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2 appHighlight>Highlight me!</h2>
  <div [ngClass]="{'chocolateClass':true}">
    no mouse QQ
  </div>
  <div>
    <h2>{{ dateString | date:'longDate' | uppercase }}</h2>
    <h2>{{ Description | limitChar:'10' }}</h2>
  </div>
  <input type="text" [(ngModel)]="name" />
  <input type="text" [(ngModel)]="price" />
  <input type="text" [(ngModel)]="rank" />
  <button (click)="insert()">新增</button>

  <table border="1">
    <thead>
      <tr>
        <th>date</th>
        <td>名稱</td>
        <td>價錢</td>
        <td>等級</td>
        <td>狀態</td>
        <td>刪除</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of cpu; let i=index;">
        <td>
            {{ (items.date | date:'y')-1911}}{{ items.date | date:'-MM-dd' | lowercase}}
        </td>
        <td>
          <div *ngIf="!items.edit">
            {{ items.name }}
          </div>
          <div *ngIf="items.edit">
            <input type="text" [(ngModel)]="items.name">
          </div>
        </td>
        <td>
          <div *ngIf="!items.edit">
            {{ items.price}}
          </div>
          <div *ngIf="items.edit">
            <input type="text" [(ngModel)]="items.price">
          </div>
        </td>
        <td>
          <div *ngIf="!items.edit">
            {{ items.rank }}
          </div>
          <div *ngIf="items.edit">
            <input type="text" [(ngModel)]="items.rank">
          </div>
        </td>
        <td>
          <button *ngIf="!items.edit" (click)="items.edit = true">編輯</button>
          <button *ngIf="items.edit" (click)="items.edit = false">完成</button>
        </td>
        <td>
          <button (click)="delete(i)">刪除</button>
        </td>
      </tr>
    </tbody>
  </table>

  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <h2>{{ showMessage }}</h2> 
  <app-welcome [reviews]="rabbit" (notify)="onNotifyClicked($event)"></app-welcome>
  <!-- {{ books[0].bookTitle }}
  {{ books[0].bookAuthor }}
  {{ books[0].bookPrice }} -->

  <!-- <div *ngFor="let book of books">
    <li> {{ book.name }}</li>
    <li> {{ book.productCode }}</li>
    <li> {{ book.releaseDate }}</li>
    <li> {{ book.description }}</li>
    <li> {{ book.author }}</li>
    <li> {{ book.genre }}</li>
    <li> {{ book.specifications }}</li>
    <li> {{ book.inStock }}</li>
    <li> {{ book.price }}</li>
    <li> {{ book.starRating }}</li>
  </div> -->


  <table border="1" *ngFor="let book of books">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>Age</th>
      <th>Age</th>
      <th>Age</th>
      <th>Age</th>
      <th>Age</th>
      <th>Age</th>
      <th>Age</th>
      <th>Age</th>
    </tr>
    <tr>
      <th>{{ book.name }}</th>
      <th> {{ book.productCode }}</th>
      <th> {{ book.releaseDate }}</th>
      <th> {{ book.description }}</th>
      <th> {{ book.author }}</th>
      <th> {{ book.genre }}</th>
      <th> {{ book.specifications }}</th>
      <th> {{ book.inStock }}</th>
      <th> {{ book.price }}</th>
      <th> {{ book.starRating }}</th>
    </tr>
  </table>
  
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul>
