<p>
  home works!
</p>
<mat-form-field>
  <input matInput [matDatepicker]="dp" placeholder="Different locale">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp [startAt]="startDate"></mat-datepicker>
</mat-form-field>
<br>
<img src="/assets/images/home.png" />
<button mat-raised-button color="primary">rabbit</button>
<button mat-button>what?</button>
<button mat-button disabled>HAHA</button>
<button mat-raised-button color="primary">
  <mat-icon>thumb_up</mat-icon>我是可愛兔子
</button>
<button mat-raised-button mat-icon-button color="primary">
  <mat-icon>thumb_up</mat-icon>
</button>
<button mat-fab color="accent">
  <mat-icon>thumb_up</mat-icon>
</button>
<button mat-mini-fab color="accent">
  <mat-icon>thumb_up</mat-icon>
</button>
<mat-button-toggle>老公是我的！</mat-button-toggle>
<div class="demo-ripple-container" mat-ripple [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false"
  [matRippleRadius]="10" [matRippleColor]="'pink'" [matRippleSpeedFactor]="0.5"></div>

<div>
  <mat-icon>person</mat-icon>
</div>
<div>
  <mat-icon color="primary">info</mat-icon>
</div>
<div>
  <mat-icon color="accent">waring</mat-icon>
</div>
<div>
  <mat-icon color="warn">thumb_up</mat-icon>
</div>

<div>
  <mat-icon svgIcon="custom-svg:angular"></mat-icon>
</div>
